body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background-color:#C0D7EB;
	background-image:url(images/background.png);
	background-repeat:repeat-x;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#container
{
  display: block; 
  height:auto;
  position:relative;
  width: 100%;
  }

#header
{	
background-image:url(images/header.jpg)	;
height:65px;
background-repeat:repeat-x;
clear:both;
}


#header h1
{
padding-top:14px;
margin-left:220px;
color:#999999;
font-size:39px;
}

#header h1 .off
{	
	color:#FFFFFF;
}

#header h2
{
margin-left:220px;	
font-size:25px;
	
}

#main_container
{
background-image:url(images/mainback.png);
background-repeat:repeat-x;
background-color:#C0D7EB;
}

#menu 
{
	height:80px;
	padding-top:6px;
	padding-bottom:6px;
	margin-left:200px;
}

#menu ul li, #menu ul
{
		list-style:none;
		float:left;
		padding:0px;
}

#menu ul li
{
line-height:80px;
color:#FFF;
font-size:20px;
padding-left:30px;
}

#menu ul li a, #menu ul li a:visited
{
	color:#FFF;
	text-decoration:none;
}

#menu ul li a:hover
{
color:#33CCFF;
}

code 
{
	font-family: Tahoma, Verdana, Geneva;
	font-size: 12px;
	background-color: #f9f9f9;
	border: thin dotted #D0D0D0;
	border-radius: 10px 10px 10px 10px;
	color: #002166;
	display: block;
	margin: 10px 10px 0px 6px;
	padding:3px 3px 3px 3px;
	width:96%;
	box-shadow: 0 0 10px #777;
	-webkit-box-shadow: 0 0 20px #ccc ;
	-moz-box-shadow: 0 0 10px #ccc;
}



#block 
{
	font-family: Tahoma, Verdana, Geneva;
	font-size: 12px;
	background-color: #f9f9f9;
	border: thin dotted #D0D0D0;

	color: #002166;
	display: block;
	margin: 10px 10px 0px 6px;
	padding:3px 3px 3px 3px;
	width:96%;
}



#columns
{
padding-top:10px;	
padding-bottom:10px;
margin-left:220px;	
}

.column_top
{
background-image:url(images/top.png);
background-repeat:no-repeat;
height:19px;
clear:both;
}

.column_bottom
{
background-image:url(images/bottom.png);
background-repeat:no-repeat;
height:19px;
clear:both;
}

.column_bottom h2
{
font-size:10px;
color:#0033CC;
padding-left:15px;
}

.column_bottom h2 a, .column_bottom h2 a:visited
{
	color:#060;
	text-decoration:none;
}


.column_top
{
background-image:url(images/top.png);
background-repeat:no-repeat;
height:19px;
clear:both;
}

.column_container
{
background-image:url(images/tabs_back.png);
background-repeat:repeat-y;
overflow:auto;
width:100%;
	
}

#left_column
{
	float:left;
	padding-left:3px;
width:255px;
margin:0px;
	
}

#left_column h1
{
	width:250px;
	height:48px;
	margin:0px;
	color:#004080;
	margin-left:10px;
	line-height:48px;
	font-size:21px;
}

#left_column ul
{
padding:0px;	
}

#left_column ul li
{
	list-style:none;
	border-bottom:#EFEFEF 2px solid;
	padding:0px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	
}
#right_column
{
padding-left:18px;
padding-right:8px;
width:610px;
float:left;	
}

#right_column h1
{
	color:#092944;
	width:593px;
	height:47px;
	line-height:47px;
	background-image:url(images/right_h1_back.png);
	background-repeat:no-repeat;
	padding-left:10px;
	margin-bottom:10px;
}

#right_column img
{
float:left;
padding:5px;
	
}

a, a:visited
{
	color:#666666;
}

a:hover
{
text-decoration:none;	
}

p {text-align: left; margin-left: 6px;}

#footer
{
margin-left:650px;
font-size: 0.75em;
}

hr{
border:#000 1px dotted;
border-style: none none dotted;
color:#EAEAEA;
}

#commentBox {
 display: block;
 width: 400px;
 height: 120px;
 padding: 8px;
 margin-left: 6px;
 border: 1px solid #cccccc;
 line-height: 130%;
 font-size: 13px;
}


.imgClass { 
    background-image: url(images/case_submit.png);
    background-position:  0px 0px;
    background-repeat: no-repeat;
    border: 0px;    
    width: 24px;
    height: 24px;
    cursor: pointer;

}

#right 
{
text-align: right;
}



